<?php
/**
 * @var Tsehelnyk\MyModule\Block\GetModel $block
 */
?>
<!--<h1>--><?php //echo $block->getModel()->getId(); ?><!--</h1>-->
<!--<h1>--><?php //echo $block->getModel()->getModel(); ?><!--</h1>-->
<!--<h1>--><?php //echo $block->getModel()->getYear(); ?><!--</h1>-->
<!--<h1>--><?php //echo $block->getModel()->getPrice(); ?><!--</h1>-->
<!--<h1>--><?php //echo $block->getModel()->getCreatedAt(); ?><!--</h1>-->
<!--//    foreach ($block->getCollection() as $item)-->
<!--//    {?>-->
<!--    <h5>--><?php //echo $item->getId(); ?><!--</h5>-->
<!--    <h5>--><?php //echo $item->getModel(); ?><!--</h5>-->
<!--    <h5>--><?php //echo $item->getYear(); ?><!--</h5>-->
<!--    <h5>--><?php ////echo $item; ?><!--</h5>-->
<!--    <h5>--><?php //echo $item->getPrice(); ?><!--</h5>-->
<!--    <h5>--><?php //echo "insurance - " . $item->getNameInsurance(); ?><!--</h5>-->
<!--    <h5>--><?php //echo $item->getCreatedAt(); ?><!--</h5>-->
<!--    --><?php // }


    foreach ($block->methodFroSearchCriteria()->getItems() as $item)
    {?>
        <h5><?php echo $item->getId(); ?></h5>
        <h5><?php echo $item->getModel(); ?></h5>
        <h5><?php echo $item->getYear(); ?></h5>
        <h5><?php echo $item->getInsurance(); ?></h5>
        <h5><?php echo $item->getPrice(); ?></h5>
        <h5><?php echo $item->getCreatedAt(); ?></h5>
    <?php }
?>
