<?php
/**
 * @var Tsehelnyk\MyModule\Block\GetConfig $block
 */
?>

<img src="<?php echo $block->getImage() ?>" alt="text"/>
<p>Static phrase - <?php echo $block->getPhrase() ?></p>
<?php
        foreach ($block->getItems() as $item)
        {?>
            <h7><?php echo $item->getModel() ?></h7>
<?php   }
?>
